.icons{
  border-radius:50%;
}

#margin{
  margin-left:0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.color-border{
  border-left-style: solid;
  border-left-color: #a01313;
}

.color-border > h6,p{
  padding-left: 0.5em;
}
